.header {
  display: flex;
  width: 100%;
  height: $header-h;
  padding: 0 $padding-p-h;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px rgba($gray_color, 0.25);
  background-color: $primary_color;
  z-index: 1;
  @include desktop {
    justify-content: left;
  }
  @include dark {
  }
}

.logo {
  font-size: 1.85rem;
  letter-spacing: 0.07em;
  color: #fcfcfc;
  font-family: Quicksand, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  @include dark {
    color: #fcfcfc;
  }

  &:focus {
    color: $primary_color;
  }
}
